body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #0044cc;
    color: white;
    padding: 0.1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

.navbar {
    position: relative;
    display: flex;
    left: 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    position: relative;
    list-style: none;
    display: flex;
    right: 25px;
    gap: 1rem;
}

.nav-links a {
    position: relative;
    top: 2px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff7300;
}

.navbar-buttons {
    display: flex;
    gap: 1rem;
}

.navbar-buttons .btn {
    background-color: #0044cc;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-buttons .btn:hover {
    background-color: #ff7300;
    color: #0044cc;
}

.dark-theme {
    background-color: #4b5563;
    color: white;
}

.dark-theme header {
    background-color: #1e1e1e;
}

.dark-theme .navbar-buttons .btn {
    background-color: #1e1e1e;
    color: white;
}

.dark-theme .navbar-buttons .btn:hover {
    background-color: #444444;
}

.dark-theme .home{
    background: linear-gradient(to bottom, #1e1e1e, #374151);
}

.dark-theme .project-item {
    background: #444444;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: left;
}

.dark-theme footer {
    background-color: #1e1e1e;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0044cc, #80bfff);
    color: white;
    text-align: center;
    padding: 0 2rem;
}

.home .btn {
    background-color: #ff7300;
    color: whitesmoke;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home .btn:hover {
    background-color: #e6b800;
}

.about {
    padding: 4rem 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: left;
}

.about-text {
    flex: 2;
}

.about-photo {
    flex: 1;
    text-align: center;
}

.about-photo img {
    width: 300px;
    height: 400px;
    margin-bottom: 1rem;
}

.skills {
    padding: 4rem 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skills-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.skills-content ul {
    list-style: none;
    padding: 0;
}

.skills-content li {
    margin: 1rem 0;
    font-size: 1.1rem;
}

.projects {
    padding: 4rem 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.project-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: left;
}

.project-item:hover {
    transform: translateY(-10px);
}

.project-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.project-item h3 {
    margin: 0 0 1rem;
    color: #0044cc;
}

.project-item .btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: #0044cc;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.project-item .btn:hover {
    background-color: #003399;
}

.contact {
    padding: 4rem 2rem;
    text-align: center;
}

.contact ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact ul li {
    display: flex;
    align-items: center;
}

.contact ul li img {
    background-color: white;
    width: 5%;
}

.dark-theme .contact ul li img {
    background-color: #4b5563;
    width: 5%;
}

.dark-theme .contact ul li.location img {
    content: url('/Gambar/location-dark.png');
}

.dark-theme .contact ul li.linkedin img {
    content: url('/Gambar/linkedin-dark.png');
}

.dark-theme .contact ul li.github img {
    content: url('/Gambar/github-dark.png');
}

.dark-theme .contact ul li.whatsapp img {
    content: url('/Gambar/whatsapp-dark.png');
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #0044cc;
    color: white;
    margin-top: 2rem;
}
